* {
    box-sizing: border-box;
}

body {
    background: #555;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Responsive Navbar */
.navbar {
    background-color: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 3px solid dodgerblue;
}

.navbar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

.navbar a:hover {
    background-color: dodgerblue;
}

.navbar a.active {
    background-color: dodgerblue;
    font-weight: bold;
}

h1 {
    display: block;
    max-width: 500px;
    margin: 20px auto 0 auto;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    color: LightCyan;
    padding: 25px 10px;
    background-color: dodgerblue;
}

.content {
    max-width: 500px;
    margin: 0 auto 40px auto;
    background: white;
    padding: 15px;
}

.box-header {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    color: Azure;
    padding: 8px;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 5px 5px 0px 0px;
}

.box-body {
    padding: 15px;
    border: 1px solid dodgerblue;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 15px;
}

.instruction {
    color: DimGray;
    display: block;
    font-size: 1.3em;
    text-align: center;
    padding: 10px;
    border: 1px solid #afcde3;
    border-radius: 5px;
    margin-bottom: 10px;
}

select, input[type="number"] {
    width: 100%;
    height: 40px;
    font-size: 1em;
    margin: 10px 0;
    border: 1px solid LightSteelBlue;
}

.submit-button {
    background-color: royalblue;
    color: azure;
    border: none;
    border-radius: 5px;
    display: block;
    font-size: 1.2em;
    margin: 20px auto;
    padding: 15px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    transition: background 0.3s;
}

.submit-button:hover {
    background-color: limegreen;
}

@media (min-width: 600px) {
    h1 { text-align: left; font-size: 2em; }
}

